@font-face {
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Basic/Oswald/static/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Signika";
  font-style: normal;
  src: url("../fonts/Posts/Signika/static/Signika-Regular.ttf");
}

@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  src: url("../fonts/Title/Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf");
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  src: url("../fonts/Tags/Permanent_Marker/PermanentMarker-Regular.ttf");
}
